.parallax {
  background-image: url("./schoolview.JPG");
  vertical-align: top;
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* overlay styling */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 75px;
  font-weight: bold;
  color: #818181;
  display: block;
  transition: 0.35s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: hotpink;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#bars {
color: #986172;
font-size: 40px;
position: fixed;
z-index: 1;
right: 0;
}

#bars:hover {
  color: hotpink;
}

header {
color: #a36f7f;
text-align: center;

}

/* .splash-name {
  font-size: 100px;
}

.splash-title {
  font-size: 70px;
} */


body {
background: #ffffff;
font-family: 'Montserrat', sans-serif;
font-weight: 100;
}

.name {
  font-size: 75px;
  font-weight: 300;
  color: gray;
}

.scroll {
  text-decoration: none;
  color: #986172;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.scroll:hover {
  color: hotpink;
  font-weight: bold;
}

#work {
height: 175px;
}

#skills {
height: 175px;
}

#about {
height: 175px;
}

#contact {
height: 175px;
}
